<%= link_to "Home", root_path, :class => "btn btn-warning" %>
<%= link_to "Add User", new_user_path, :class => "btn btn-info" %>
<%= link_to "Add Post", new_micropost_path, :class => "btn btn-info" %>

<h2>Lists of Users</h2>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      <%= link_to "Show", user_path(user.id) %>
      <%= link_to "Edit", edit_user_path(user.id) %>
      <%= link_to "Delete", "#" %>

    </td>
  </tr>
<% end %>

</table>